<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAdventureWorksProducts" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:56432/Dominio/Servicio/MyProducts.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdventureWorksProducts"
                contract="SI.Products.IAdventureWorksProducts" name="BasicHttpBinding_IAdventureWorksProducts" />
        </client>
    </system.serviceModel>
</configuration>